*

# >-----< INCLUDES >-----< #

# [+]: Build stage
!source/
!source/**
!poetry.lock
!poetry.toml
!pyproject.toml

# [+]: Test stage

# [+]: Run stage

# >-----< EXCLUDES >-----< #

# [-]: MacOS files
.DS_Store
**/.DS_Store
