*

# Git files
!.gitignore

# Repo files
!LICENSE.md
!README.md

# Source files
!source/
!source/**

# PyProject files
!pyproject.toml

# Docker files
!Dockerfile

# VS Code files
!.vscode/
!.vscode/**
