*

# >-----< INCLUDES >-----< #

# [+]: Git files
!.gitignore

# [+]: Repo files
!CHANGELOG.md
!LICENSE.md
!README.md

# [+]: Source files
!source/
!source/**

# [+]: Test files
!tests/
!tests/**
!.coverage

# [+]: Script files
!scripts/
!scripts/**
!Makefile

# [+]: Poetry files
!poetry.lock
!poetry.toml
!pyproject.toml

# [+]: Config files
!.editorconfig

# [+]: Environment files
!.env.example

# [+]: Docker files
!.dockerignore
!compose.yaml
!Dockerfile

# >-----< EXCLUDES >-----< #

# [-]: Cache files
source/__pycache__/
source/**/__pycache__/

# [-]: macOS files
.DS_Store
**/.DS_Store
