*

# Git files
!.gitignore

# Repo files
!LICENSE.md
!README.md

# Source files
!source/
!source/**

# Test files
!tests/
!tests/**
!.coverage

# Script files
!scripts/
!scripts/**

# Poetry files
!poetry.lock
!poetry.toml
!pyproject.toml

# Config files
!.editorconfig

# Docker files
!.dockerignore
!compose.yaml
!Dockerfile

# VS Code files
!.vscode/
!.vscode/**
